<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="pcpl.simpleVisualizer.actionSet">
      </actionSet>
   </extension>
   <requires>
        <import plugin="org.eclipse.core.boot"/>
        <import plugin="org.eclipse.core.runtime"/>
        <import plugin="org.eclipse.core.resources"/>
        <import plugin="org.eclipse.swt"/>
        <import plugin="org.eclipse.ui"/>
	</requires>

	<runtime>
        <library name="views.jar"/>
	</runtime>
	<extension point="org.eclipse.ui.views">
        <view id="pcpl.simpleVisualizer.BasicView"
          name="Pcpl Basic View"
          class="eplic.simplevisualizer.views.BasicView"
          icon="icons\view.gif"/>
	</extension>	
</plugin>
